    .pokeItem + .pokeItem  {
        margin-left: 10px;
        min-width: 150px;
        width: auto; 
    }

    .titleDescripition{
        width: auto; 
        min-width: 150px;
        font-weight: bold;
    }

    .ion-card-content {
        width: auto;
        min-width: 400px;
      }

    .align-items-center {
    align-items: center;
    }
    
    .ion-text-end {
    text-align: end;
    }
      