<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pokedex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list [inset]="true">
    <ion-item *ngFor="let pokemon of pokemons" (click)="onRowClick(pokemon)">
      <img slot="start" src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon.id}}.png'>
      <ion-label>{{pokemon.name}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadData($event)" *ngIf="next">
    <ion-infinite-scroll-content loadingSpinner="crescent">
        Carregando mais...
    </ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>